<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [button]="true" [href]="'/asignatura-profesor'">
        <ion-icon name="library-outline" class="ion-margin-end"></ion-icon>
        <ion-label>Mis asignaturas</ion-label>
      </ion-item>
      <ion-item [button]="true" [href]="'/asistencia-profesor'">
        <ion-icon name="calendar-outline" class="ion-margin-end"></ion-icon>
        <ion-label>Mis asistencias</ion-label>
      </ion-item>
      <ion-item [button]="true" [href]="'/cambiar-clave-profesor'">
        <ion-icon name="lock-closed-outline" class="ion-margin-end"></ion-icon>
        <ion-label>Cambiar clave</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label style="font-size: 20px;">Bienvenido [nombre_usuario]</ion-label>
      <ion-button [routerLink]="'/home'" fill="clear" color="warning" slot="end">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar sesion
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 80vh;">
        <ion-col class="ion-text-center" size="auto">
          <div style="text-align: center; font-size: 20px;">Registrar asistencia</div>
          <ion-button [routerLink]="'/registrar-asistencia'" color="warning" shape="round" size="large" expand="block" style="height: 100px; width: 100px; margin-top: 10px; margin-left: 35px;">
            <ion-icon name="qr-code-outline" style="font-size: 50px;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>