<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 18vh;">
      <ion-col size="auto">
        <ion-img src="assets/logo.png" style="width: 400px; height: 400px;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 80vh;">
      <ion-col size="auto">
        <ion-segment color="warning" [(ngModel)]="selectedCard">
          <ion-segment-button value="first">
            <ion-label>Alumno</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second">
            <ion-label>Profesor</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-card *ngIf="selectedCard === 'first'">
          <ion-card-header class="ion-align-items-center">
            <br>
            <ion-card-title>Iniciar Sesion</ion-card-title>
            <ion-card-subtitle>Alumno</ion-card-subtitle>
            <br>
          </ion-card-header>
        
          <ion-card-content>
            <ion-input label="Usuario" label-placement="floating" fill="outline"></ion-input>
            <br>
            <ion-input label="Contraseña" label-placement="floating" fill="outline"></ion-input>
            <br>
            <a (click)="restablecerPwd()">¿Olvidaste tu contraseña?</a>
            <br><br>
            <ion-button [routerLink]="['/menu-alumno']" expand="block" color="warning" shape="round">
              Ingresar
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="selectedCard === 'second'">
          <ion-card-header class="ion-align-items-center">
            <br>
            <ion-card-title>Iniciar Sesion</ion-card-title>
            <ion-card-subtitle>Profesor</ion-card-subtitle>
            <br>
          </ion-card-header>
          <ion-card-content>
            <ion-input label="Usuario" label-placement="floating" fill="outline"></ion-input>
            <br>
            <ion-input label="Contraseña" label-placement="floating" fill="outline"></ion-input>
            <br>
            <a (click)="restablecerPwd()">¿Olvidaste tu contraseña?</a>
            <br><br>
            <ion-button [routerLink]="['/menu-profesor']" expand="block" color="warning" shape="round">
              Ingresar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
